:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    --text-color: rgba(255, 255, 255, 0.87);
    --main-bg-color: #459B48FF;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    left: 0;
}

th {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    cursor: pointer;
}

th.sorted {
    background-color: #83E087FF;
}

.highlight {
    background-color: darkgray;
}



@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
